:root{
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

body{
    background-color: var(--body-bg-color);
}

/*montando o template*/
.item-left{ grid-area: aside;}
.item-right{grid-area: main;}
.item-bottom{grid-area: footer;}
.container{
    display: grid;
    grid-template-areas: "aside main main main"
                         "aside main main main"
                         "aside main main main"
                         "aside main main main"
                         "footer footer footer footer";
    gap: 1.5rem;
    height: 100vh;
    width: 100vw;
}

aside, main, footer{
    border: 1px solid #fff;
}

.item-left{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card-left{
    width: 22.37rem;
    height: auto;
    border: 1px solid #fff;
}


